
.confetti-effect {

  margin: auto;
  padding: .3em;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;

  font-size: 2.5vh;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff33cc;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px #ffb3e6;
}

.confetti-effect:focus { outline: 0; }

.confetti-effect:before, .confetti-effect:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.confetti-effect:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ffccf2 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ffccf2 20%, transparent 30%), radial-gradient(circle, #ffccf2 20%, transparent 20%), radial-gradient(circle, #ffccf2 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffccf2 15%, transparent 20%), radial-gradient(circle, #ffccf2 20%, transparent 20%), radial-gradient(circle, #ffccf2 20%, transparent 20%), radial-gradient(circle, #ffccf2 20%, transparent 20%), radial-gradient(circle, #ffccf2 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.confetti-effect:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff66d9 20%, transparent 20%), radial-gradient(circle, #ff66d9 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff66d9 15%, transparent 20%), radial-gradient(circle, #ff66d9 20%, transparent 20%), radial-gradient(circle, #ff66d9 20%, transparent 20%), radial-gradient(circle, #ff66d9 20%, transparent 20%), radial-gradient(circle, #ff66d9 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.confetti-effect:active {
  transform: scale(0.9);
  background-color: #990073;
  box-shadow: 0 2px 25px #ffb3e6;
}

.confetti-effect.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-effect.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

 @keyframes
    topBubbles {  
        0% {
            background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
        }
        50% {
            background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
        }
        100% {
            background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

@keyframes
    bottomBubbles {  
        0% {
            background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
        }
        50% {
            background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
        }
        100% {
             background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
             background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

.confetti-effect.selected{
  height : 75%;
  width  : 90%;
  font-size: 3vh;
  margin: auto;
  transition         : height .2s, width .2s, font-size .2s;
  -webkit-transition : height .2s, width .2s, font-size .2s;
  -moz-transition    : height .2s, width .2s, font-size .2s;
  -ms-animation      : height .2s, width .2s, font-size .2s;
}


.pulsing-button{
    -webkit-animation : pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation    : pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation     : pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation         : pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes  pulse {to {box-shadow: 0 0 0 65px rgba(0, 0, 0, 0);}}
@-moz-keyframes     pulse {to {box-shadow: 0 0 0 65px rgba(0, 0, 0, 0);}}
@-ms-keyframes      pulse {to {box-shadow: 0 0 0 65px rgba(0, 0, 0, 0);}}
@keyframes          pulse {to {box-shadow: 0 0 0 65px rgba(0, 0, 0, 0);}}

















body{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.timer{
	display: flex;
    height: 2em;
    justify-content: space-around;
    width: 50%;
}

.gameInfo{
	display: flex;
	flex-direction: row;
}

.gameSpace{
	display: flex;
	justify-content: center;
}

.gameSpace__board{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.field{
	background-color: #f5f5f5;
	border: 1px solid #aaaaaa;
	box-sizing: border-box;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	font-family: monospace;
}

.field__content{
	display: none;
}

.field--exploded{
	background-color: red;
}

.field--safe{
	background-color: #FBAED2;
}

.field__safeNumber{
	background-color: #fb607f;
}

.field__safeNumber--1{
	background-color: #fc829b;
}

.field__safeNumber--2{
	background-color: #fb5173;
}

.field__safeNumber--3{
	background-color: #fa1f4a;
}

.field__safeNumber--4{
	background-color: #e00531;
}

.field__safeNumber--5{
	background-color: #ae0426;
}

.field__safeNumber--6{
	background-color: #7d031b;
}

.field__safeNumber--7{
	background-color: #4b0210;
}

.field__safeNumber--8{
	background-color: #190105;
}


.field__image{
	top: 0;
	position: absolute;
	left: 0;
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.field__image--hidden{
	display: none;
}

.green{
	background-color: green;
}

@media only screen and (orientation: landscape){
	.field{
		height: 9vh;
		width: 9vh;
	}


	.gameSpace__board{
		height: 81vh;
		width: 81vh;
	}
}

@media only screen and (orientation: portrait){
	.field{
		height: 9vw;
		width: 9vw;
	}

	.gameSpace__board{
		height: 81vw;
		width: 81vw;
	}
}