.gameSpace{
	display: flex;
	justify-content: center;
}

.board{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.field{
	background-color: #f5f5f5;
	border: 1px solid #aaaaaa;
	box-sizing: border-box;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	font-family: monospace;
}

.field__content{
	display: none;
}

.field--exploded{
	background-color: red;
}

.field--safe{
	background-color: #87cdca;
}

.field--safeNumber{
	background-color: #eaa87c;
}

.field__image{
	top: 0;
	position: absolute;
	left: 0;
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.field__image--hidden{
	display: none;
}

@media only screen and (orientation: landscape){
	.field{
		height: 9vh;
		width: 9vh;
	}


	.board{
		height: 81vh;
		width: 81vh;
	}
}

@media only screen and (orientation: portrait){
	.field{
		height: 9vw;
		width: 9vw;
	}

	.board{
		height: 81vw;
		width: 81vw;
	}
}